Assignment Day 4 | 13th November 2020

Question 1:

How to import pandas and check the version?

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.4

Question 2

How to create a series from a numpy array?

In [ ]:
import numpy as np
import pandas as pd
series = pd.Series([11,22,33,44,55],index=['1st','2nd','3rd','4th','5th']) 
print(series)

1st    11
2nd    22
3rd    33
4th    44
5th    55
dtype: int64

Question 3

How to convert the index of a series into a column of a dataframe?

In [ ]:
import numpy as np
import pandas as pd
s = pd.Series([11,22,33,44,55,66,77,88,99])
df = s.to_frame().reset_index() 
print(df)

   index   0
0      0  11
1      1  22
2      2  33
3      3  44
4      4  55
5      5  66
6      6  77
7      7  88
8      8  99

 Question 4

Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [ ]:
import seaborn as sns
mpg=sns.load_dataset('mpg')
mpg

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Questions 5:

Which country origin cars are a part of this dataset?

In [ ]:
import seaborn as sns
mpg=sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

Question 6

Extract the part of the dataframe which contains cars belonging to 'usa'

In [ ]:
import seaborn as sns
mpg=sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]